$breakpoint-tablet: 768px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  .App-bar .MuiToolbar-root {
      justify-content: space-between;
      svg {
        color: #fff;
        opacity: 0.85;
      }
      .lang {
        display: flex;
      }
  }
}
.App-header {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
@media (max-width: $breakpoint-tablet) {
  .App-header {
    min-height: 49vh;
  }
}
.App-logo {
  margin-top: 2rem;
  img {
    margin-left: -6%;
  }
}

.clearLog {
  align-self: center;
  bottom: 15px;
  position: fixed !important;
  width: 50px;
}

.iceCream-list {
  position: absolute;
  bottom: 25px;
  left: 40px;
  display: flex;
}
.iceCream-item {
    width: 125px;
    height: 125px;
    border: 1px solid rgba(112, 76, 182, 0.4);
    border-radius: 50%;
    padding: 10px;
    transform: rotate(-25deg);
    margin-right: 40px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
    span {
      position: absolute;
      bottom: 25px;
      left: 0;
    }
}
@media (max-width: $breakpoint-tablet) {
  .clearLog {
    bottom: 5px;
  }
  .iceCream-list.iceCream-list--math {
    right: 21px;
    width: 75px;
    flex-direction: column;
    left: auto;
  }
  .iceCream-item {
    width: 60px;
    height: 60px;
  }
}
.iceCream-dialog {
  .MuiDialog-paperWidthSm {
    max-width: initial;
  }
  .MuiDialog-paperScrollPaper {
    max-height: initial;
  }
  .MuiDialogContent-root img {
    max-width: 65vw;
    max-height: 470px;
  }
}

.logo {
  cursor: pointer;
}

.home-btn {
  color: #fff !important;
  height: 3rem;
  font-size: 1.2rem !important;
  &.abc {
    background-color: #9c27b0 !important;
  }
  &.math {
    background-color: #f06292 !important;
  }
  &:hover {
    opacity: 0.7;
  }
}

@media (min-width: $breakpoint-tablet) {
  .home-btn {
    width: 20%;
    &.abc {
      margin-right: 10px !important;
    }
  }
  .progress {
    margin: 3% 3% 0;
  }
}
@media (max-width: $breakpoint-tablet) {
  .home-btn {
    width: 90%;
    &.abc {
      margin-bottom: 10px !important;
    }
  }
  .App-logo img {
    max-width: 90%;
  }
  .progress {
    margin: 7% 3% 0;
  }
}

.abc {
  padding: 20px;
  position: relative;
  .textField-he {
      direction: rtl;
  }
  textarea {
    height: 3rem;
    letter-spacing: 1rem;
  }
}

.hg-theme-default {
  .hg-button.hidden {
    display: none;
  }
  .hg-button.pressed-btn {
    background-color: #66bb6a;
    color: #fff;
  }
  .hg-button.error-btn {
    background-color: red;
    color: #fff;
  }
}